# Build and Publish folders
bin/
obj/
publish/

# IDE and Project files
.idea/
.vs/
*.user
*.userosscache
riderModule.iml
_ReSharper.Caches/

# Custom Scripts and backups
publish.cmd
*.bak

# Manifests (if you want it hidden)
app.manifest